### The purpose of the script is to calculate the smallest distance between an object in dataset 1 and an object in dataset 2

In [1]:
import pandas as pd
# read in the data
# dataset 1
d1 = pd.read_csv('Statistics for 076 01102022_stack.tif (green)_dataset1.csv')
display(d1)

# dataset 2
d2 = pd.read_csv('Statistics for 076 01102022_stack.tif (red) dataset2.csv')
display(d2)

,Volume (pixel^3),Surface (pixel^2),Nb of obj. voxels,Nb of surf. voxels,IntDen,Mean,StdDev,Median,Min,Max,...,Median dist. to surf. (pixel),XM,YM,ZM,BX,BY,BZ,B-width,B-height,B-depth
0,20,50,20,20,2299,114.950,53.197,115.5,42,215,...,1.308,285.911,20.528,2.556,285,19,2,3,4,2
1,78,192,78,78,5693,72.987,27.405,69.5,41,148,...,2.986,488.588,34.404,2.890,485,29,2,8,13,2
2,10,34,10,10,558,55.800,13.139,52.0,42,85,...,1.137,506.122,83.222,2.643,505,82,2,3,3,2
3,23,64,23,23,2164,94.087,45.841,99.0,42,206,...,1.419,548.276,239.219,2.646,546,238,2,5,4,2
4,11,34,11,11,643,58.455,16.984,51.0,42,93,...,1.048,556.607,271.841,2.404,556,271,2,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748,10,34,10,10,939,93.900,33.134,94.5,51,147,...,1.076,751.094,1913.542,36.210,750,1913,36,3,3,2
1749,14,42,14,14,1404,100.286,50.915,91.5,42,206,...,1.184,815.135,2023.345,36.789,814,2022,36,3,4,2
1750,40,82,40,40,6908,172.700,73.067,171.0,53,255,...,2.015,1603.165,2037.930,36.540,1601,2036,36,5,5,2
1751,10,34,10,10,499,49.900,7.264,50.0,41,63,...,1.118,349.042,827.559,37.000,348,826,37,3,4,1
1752,14,44,14,14,1890,135.000,60.489,125.5,53,238,...,1.527,668.317,1812.575,37.000,667,1811,37,4,4,1

,Volume (pixel^3),Surface (pixel^2),Nb of obj. voxels,Nb of surf. voxels,IntDen,Mean,StdDev,Median,Min,Max,...,Median dist. to surf. (pixel),XM,YM,ZM,BX,BY,BZ,B-width,B-height,B-depth
0,55,152,55,55,5910,107.455,32.106,98.0,69,189,...,2.979,488.773,34.404,2.964,486,30,2,7,11,2
1,49,102,49,49,7074,144.367,50.628,137.0,71,254,...,1.969,253.553,72.132,2.389,251,70,2,6,6,2
2,23,52,23,23,2101,91.348,16.101,86.0,71,129,...,1.296,286.023,238.570,2.418,285,237,2,3,4,2
3,108,230,108,108,18398,170.352,71.623,153.0,68,255,...,3.322,304.125,617.254,2.852,299,613,2,12,10,2
4,16,54,16,16,1486,92.875,15.366,91.0,68,118,...,1.651,314.037,678.452,2.000,312,676,2,5,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,22,54,22,22,1899,86.318,14.785,84.0,69,118,...,1.413,309.169,545.413,35.409,308,544,35,4,4,2
599,34,72,34,34,3612,106.235,30.239,105.5,69,169,...,1.803,317.134,738.504,35.569,315,737,35,5,4,2
600,128,258,128,128,15220,118.906,39.442,110.0,68,216,...,3.500,612.023,807.511,35.761,609,801,35,8,13,3
601,133,232,133,122,17818,133.970,56.108,112.0,67,255,...,3.266,678.227,1799.281,35.882,673,1795,35,12,8,3
602,108,196,108,108,15840,146.667,54.853,143.0,68,255,...,3.014,533.331,208.492,36.541,529,204,36,9,10,2

In [2]:
import numpy as np
def compute_3d_dist(p1, p2):
    '''Compute the Euclidean (as the crow flies) Distance between two coordinates in three-dimmensional space
    Keyword arguments:
    INPUT:
        p1 -- numpy array of the three-point coordinate p1 
            (constructed by: np.array([x1, y1, z1]) where x1, y1, and z1 are floats)

        p2 -- numpy array of the three-point coordinate p2 
            (constructed by: np.array([x2, y2, z2]) where x2, y2, and z2 are floats) 

    OUTPUT:
        dist -- a float represeting the Euclidean Distance between points p1 and p2
    
    '''
    squared_dist = np.sum((p1-p2)**2, axis=0)
    dist = np.sqrt(squared_dist)
    return dist


# # TESTING: compute_3d_dist (uncomment asserts to test - also included prints of the same things so you can test with those as well)
# # Data input representations:
# # a) as inidividual points
# x_1 = 3.0
# y_1 = 4.0
# z_1 = 5.0

# x_2 = 9.0
# y_2 = 7.0
# z_2 = 3.0

# # b) as lists of floats
# pt_1_ = [x_1,y_1,z_1]
# pt_2_ = [x_2,y_2,z_2]

# # c) as numpy arrays 
# pt_1 = np.array([x_1,y_1,z_1])
# pt_2 = np.array([x_2,y_2,z_2])

# # Testing various input types (should all give the same output)
# # 1) floats directly 
# print(compute_3d_dist(np.array([3.0,4.0,5.0]), np.array([9.0,7.0,3.0])))
# # 2) coordinates as a list
# print(compute_3d_dist(np.array([x_1,y_1,z_1]), np.array([x_2,y_2,z_2])))
# # 3) numpy arrays 
# print(compute_3d_dist(pt_1,pt_2))
# assert ((compute_3d_dist(np.array([3.0,4.0,5.0]), np.array([9.0,7.0,3.0]))), (compute_3d_dist(np.array([x_1,y_1,z_1]), np.array([x_2,y_2,z_2]))), (compute_3d_dist(pt_1,pt_2))) == (7.0, 7.0, 7.0), "Should all be 7.0"

# # Testing computation veracity 
# # 4) Compute distance between the same point (should be zero)
# print(compute_3d_dist(pt_1,pt_1))
# assert compute_3d_dist(pt_1,pt_1) == 0, "Should be 0"

# # 5) Compute distances between 2 points and compare to calculator:
# #                https://www.calculatorsoup.com/calculators/geometry-solids/distance-two-points.php
# #     For this example ([7, 4, 3] to [17, 6, 2]) should be  10.246951
# pt_1_ = [7, 4, 3]
# pt_2_ = [17, 6, 2]
# print(compute_3d_dist(np.array(pt_1_),np.array(pt_2_))) 
# assert compute_3d_dist(np.array(pt_1_),np.array(pt_2_)) == 10.246950765959598, "Should be 10.246950765959598"

In [6]:
coord_names = ['X','Y','Z'] # **This might be wrong**, name of columns for your coordinates in each file. This also assumes each file has the same column names
# walk row by row through dataset 1 reading in coordinates and then comparing with each row of dataset 2
# loops through each row of dataset 1


# holds the minimum distances in a list of floats
min_dist_ls = []
# holds the dataset 2 coordinates that provide the minimum distances with each dataset 1 coordinate in a list (with each element in the list being a numpy array to represent the single coordinate)
d2_closest_coord_ls = []

# for i in [0,1,2,3]: # NOTE: you can uncomment this line and comment out the line below to test with a smaller dataset
for i in range(len(d1)): # NOTE: this type of for loop does not require incrementing the counter (j) so if you call j+=1 anywhere in your code it could cause some rows to be skipped
    
    # extracts the coordiantes for row at index i in dataset 1
    # coordinates are extracted in the order they appear in coord_names (so X,Y,Z)
    # converts these coordinates into a numpy array so it is appropriate input for compute_3d_dist function
    d1_coord = np.array(d1.iloc[i][coord_names])
   
    # holds the minimum distance to compare as we walk through the points
    # initially set to some very large float (number with a decimal) here set to infinity
    min_dist = float('inf')
    
    # holds the coordinate for the minimum distance as a np.array (to start it is just an empty list)
    d2_closest_coord = np.array([])
    
    # loops through each row of dataset 2 
    #       NOTE: this is a nested loop so it will run i*j times (thus potentially a LONG time)
    #for j in [0,1,2,3]: # NOTE: you can uncomment this line and comment out the line below to test with a smaller dataset
    for j in range(len(d2)): # NOTE: this type of for loop does not require incrementing the counter (j) so if you call j+=1 anywhere in your code it could cause some rows to be skipped 
        
        # extracts the coordiantes for row at index j in dataset 2
        # coordinates are extracted in the order they appear in coord_names (so X,Y,Z)
        # converts these coordinates into a numpy array so it is appropriate input for compute_3d_dist function
        d2_coord = np.array(d2.iloc[j][coord_names])
        
        # compute the distance between d1_coord and d2_coord
        d1_d2_dist = compute_3d_dist(d1_coord, d2_coord)
        
        # if distance between d1_coord and d2_coord is smaller than the current min_dist:
        # store the new value as min_dist and also store the d2 coordinates in d2_closest_coord
        if d1_d2_dist < min_dist:
            min_dist = d1_d2_dist
            d2_closest_coord = d2_coord
    
    
    # store the minimum distance and coordinate
    min_dist_ls.append(min_dist)
    d2_closest_coord_ls.append(d2_closest_coord)
        
        



# Output the data:

# 1) coordinates of every point in dataset 1 each as a single column
out_data_1 = d1[coord_names]
out_data_1.columns = ['X_dataset_1','Y_dataset_1','Z_dataset_1']

# 2) coordinates of the corresponding closest point in dataset 2 each as a single column
out_data_2 = pd.DataFrame(d2_closest_coord_ls)
out_data_2.columns = ['X_closest_pt_dataset_2','Y_closest_pt_dataset_2','Z_closest_pt_dataset_2']

# 3) combine data
out_data = pd.concat([out_data_1, out_data_2],axis=1)

# 4) distances between the points
out_data['distance'] = min_dist_ls

# 5) save data to csv file
fname = 'min_distances_dataset-1_to_dataset-2.csv'
out_data.to_csv(fname)
print("data saved to:\n",fname)

display(out_data)

data saved to:
 min_distances_dataset-1_to_dataset-2.csv

,X_dataset_1,Y_dataset_1,Z_dataset_1,X_closest_pt_dataset_2,Y_closest_pt_dataset_2,Z_closest_pt_dataset_2,distance
0,285.900,20.500,2.550,293.258,21.530,18.424,17.526692
1,488.487,34.436,2.833,488.782,34.491,2.945,0.320303
2,506.100,83.200,2.600,491.351,100.329,16.879,26.736220
3,548.087,239.348,2.565,557.199,246.977,14.996,17.197673
4,556.636,271.818,2.455,549.508,258.902,19.656,22.660667
...,...,...,...,...,...,...,...
1748,751.100,1913.600,36.300,758.429,1919.286,34.952,9.373470
1749,815.143,2023.429,36.643,781.000,1932.500,21.000,98.379525
1750,1603.100,2038.000,36.525,1338.784,1959.643,20.011,276.180158
1751,349.000,827.500,37.000,361.718,840.803,27.749,20.598503
1752,668.286,1812.500,37.000,678.105,1799.233,35.917,16.540826

In [ ]:
display(out_data)